:root {
  --black: #212121;
  --grey: #757575;
  --dark-grey: #2f303a;
  --light-grey: #f5f4fa;
  --blue: #2196f3;
  --white: #ffffff;
}

/* body */

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
/* body end */

/* header*/
.page-header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  padding: 24px;
}

.logo-text {
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
  margin-right: 93px;
}

.logo-text-web {
  color: var(--blue);
}

.navbar {
  display: flex;
  align-items: center;
}

.main-nav-list {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
}

.main-nav-list li:not(:last-child) {
  margin-right: 46px;
}

.contact-link-list {
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: 364px;
}
.contact-link-list li:not(:last-child) {
  margin-right: 50px;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--blue);
}
/* header end*/

/*main*/
.hero-section {
  background-color: var(--dark-grey);
  padding: 200px 452px 280px 452px;
}

p {
  margin: 0;
}

h1 {
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.16;
  letter-spacing: 0.06em;
  width: 696px;
  margin-bottom: 50px;
  text-align: center;
}

.hero-section .container {
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.06em;
  text-align: left;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}
h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section {
  padding: 94px 0;
}

.text-cards {
  display: flex;
  justify-content: space-between;
  padding-right: 215px;
}

.img-cards {
  display: flex;
  justify-content: space-between;
  padding-right: 215px;
}

.team-cards {
  display: flex;
  justify-content: space-between;
  padding-right: 215px;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: centre;
}

.text-card-text {
  color: var(--grey);
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  text-align: left;
}

.team-card-text {
  color: var(--grey);
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: center;
}

.portfolio-card-text {
  color: var(--grey);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: left;
}

.hero-button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
}
.button {
  background-color: var(--light-grey);
  border: none;
  width: 93px;
  height: 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.03em;
  text-align: center;
}
.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.our-team {
  background-color: var(--light-grey);
}
/*main end*/

/*footer*/
.footer-logo-text {
  font-family: "Relaway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo-text-web {
  color: var(--blue);
}

.logo-text-studio {
  color: var(--white);
}
.address-link-list {
  color: var(--white);
  opacity: 0.6;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.46;
  letter-spacing: 0.03em;
  text-align: left;
}

.address-link-item {
  margin-bottom: 9px;
}

.address-list-item:last-child {
  margin-bottom: 0;
}

.page-footer {
  background-color: var(--dark-grey);
  padding: 60px;
}
/*footer end*/
